---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: rollouts.one-click.dev
spec:
  group: one-click.dev
  names:
    kind: Rollout
    listKind: RolloutList
    plural: rollouts
    singular: rollout
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.image.repository
      name: Image
      type: string
    - jsonPath: .spec.image.tag
      name: ImageTag
      type: string
    - jsonPath: .spec.horizontalScale.minReplicas
      name: Replicas
      type: integer
    - jsonPath: .status.deployment.status
      name: Deployment Status
      type: string
    - jsonPath: .status.services[*].status
      name: Service Status
      type: string
    - jsonPath: .status.ingresses[*].status
      name: Ingress Status
      type: string
    - jsonPath: .status.volumes[*].status
      name: Volume Status
      type: string
    - jsonPath: .spec.serviceAccountName
      name: Service Account
      type: string
    - jsonPath: .spec.rolloutStrategy
      name: Rollout Strategy
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Creation Timestamp
      type: date
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RolloutSpec defines the desired state of Rollout
            properties:
              args:
                items:
                  type: string
                type: array
              command:
                items:
                  type: string
                type: array
              cronjobs:
                items:
                  properties:
                    args:
                      items:
                        type: string
                      type: array
                    backoffLimit:
                      format: int32
                      type: integer
                    command:
                      items:
                        type: string
                      type: array
                    env:
                      items:
                        properties:
                          name:
                            type: string
                          value:
                            type: string
                        required:
                        - name
                        - value
                        type: object
                      type: array
                    image:
                      properties:
                        password:
                          type: string
                        registry:
                          type: string
                        repository:
                          type: string
                        tag:
                          type: string
                        username:
                          type: string
                      required:
                      - registry
                      - repository
                      - tag
                      type: object
                    maxRetries:
                      format: int32
                      type: integer
                    name:
                      type: string
                    resources:
                      properties:
                        limits:
                          properties:
                            cpu:
                              type: string
                            memory:
                              type: string
                          required:
                          - cpu
                          - memory
                          type: object
                        requests:
                          properties:
                            cpu:
                              type: string
                            memory:
                              type: string
                          required:
                          - cpu
                          - memory
                          type: object
                      required:
                      - limits
                      - requests
                      type: object
                    schedule:
                      type: string
                    suspend:
                      type: boolean
                  required:
                  - image
                  - name
                  - resources
                  - schedule
                  - suspend
                  type: object
                type: array
              env:
                items:
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
              horizontalScale:
                properties:
                  maxReplicas:
                    format: int32
                    type: integer
                  minReplicas:
                    format: int32
                    type: integer
                  targetCPUUtilizationPercentage:
                    format: int32
                    type: integer
                required:
                - maxReplicas
                - minReplicas
                - targetCPUUtilizationPercentage
                type: object
              image:
                properties:
                  password:
                    type: string
                  registry:
                    type: string
                  repository:
                    type: string
                  tag:
                    type: string
                  username:
                    type: string
                required:
                - registry
                - repository
                - tag
                type: object
              interfaces:
                items:
                  properties:
                    ingress:
                      properties:
                        annotations:
                          additionalProperties:
                            type: string
                          type: object
                        ingressClass:
                          type: string
                        rules:
                          items:
                            properties:
                              host:
                                type: string
                              path:
                                type: string
                              tls:
                                type: boolean
                              tlsSecretName:
                                type: string
                            required:
                            - host
                            - path
                            - tls
                            type: object
                          type: array
                      required:
                      - ingressClass
                      - rules
                      type: object
                    name:
                      type: string
                    port:
                      format: int32
                      type: integer
                  required:
                  - name
                  - port
                  type: object
                type: array
              nodeSelector:
                additionalProperties:
                  type: string
                type: object
              resources:
                properties:
                  limits:
                    properties:
                      cpu:
                        type: string
                      memory:
                        type: string
                    required:
                    - cpu
                    - memory
                    type: object
                  requests:
                    properties:
                      cpu:
                        type: string
                      memory:
                        type: string
                    required:
                    - cpu
                    - memory
                    type: object
                required:
                - limits
                - requests
                type: object
              rolloutStrategy:
                type: string
              secrets:
                items:
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
              securityContext:
                properties:
                  allowPrivilegeEscalation:
                    type: boolean
                  capabilities:
                    properties:
                      add:
                        items:
                          type: string
                        type: array
                      drop:
                        items:
                          type: string
                        type: array
                    type: object
                  fsGroup:
                    format: int64
                    type: integer
                  privileged:
                    type: boolean
                  readOnlyRootFilesystem:
                    type: boolean
                  runAsGroup:
                    format: int64
                    type: integer
                  runAsNonRoot:
                    type: boolean
                  runAsUser:
                    format: int64
                    type: integer
                type: object
              serviceAccountName:
                type: string
              tolerations:
                items:
                  description: The pod this Toleration is attached to tolerates any
                    taint that matches the triple <key,value,effect> using the matching
                    operator <operator>.
                  properties:
                    effect:
                      description: Effect indicates the taint effect to match. Empty
                        means match all taint effects. When specified, allowed values
                        are NoSchedule, PreferNoSchedule and NoExecute.
                      type: string
                    key:
                      description: Key is the taint key that the toleration applies
                        to. Empty means match all taint keys. If the key is empty,
                        operator must be Exists; this combination means to match all
                        values and all keys.
                      type: string
                    operator:
                      description: Operator represents a key's relationship to the
                        value. Valid operators are Exists and Equal. Defaults to Equal.
                        Exists is equivalent to wildcard for value, so that a pod
                        can tolerate all taints of a particular category.
                      type: string
                    tolerationSeconds:
                      description: TolerationSeconds represents the period of time
                        the toleration (which must be of effect NoExecute, otherwise
                        this field is ignored) tolerates the taint. By default, it
                        is not set, which means tolerate the taint forever (do not
                        evict). Zero and negative values will be treated as 0 (evict
                        immediately) by the system.
                      format: int64
                      type: integer
                    value:
                      description: Value is the taint value the toleration matches
                        to. If the operator is Exists, the value should be empty,
                        otherwise just a regular string.
                      type: string
                  type: object
                type: array
              volumes:
                items:
                  properties:
                    mountPath:
                      type: string
                    name:
                      type: string
                    size:
                      type: string
                    storageClass:
                      type: string
                  required:
                  - mountPath
                  - name
                  - size
                  type: object
                type: array
            required:
            - horizontalScale
            - image
            - resources
            - serviceAccountName
            type: object
          status:
            description: RolloutStatus defines the observed state of Rollout
            properties:
              deployment:
                properties:
                  podNames:
                    items:
                      type: string
                    type: array
                  replicas:
                    format: int32
                    type: integer
                  resources:
                    properties:
                      limitSum:
                        properties:
                          cpu:
                            type: string
                          memory:
                            type: string
                        required:
                        - cpu
                        - memory
                        type: object
                      requestSum:
                        properties:
                          cpu:
                            type: string
                          memory:
                            type: string
                        required:
                        - cpu
                        - memory
                        type: object
                    required:
                    - limitSum
                    - requestSum
                    type: object
                  status:
                    type: string
                required:
                - podNames
                - replicas
                - resources
                - status
                type: object
              ingresses:
                items:
                  properties:
                    hosts:
                      items:
                        type: string
                      type: array
                    name:
                      type: string
                    status:
                      type: string
                  required:
                  - hosts
                  - name
                  - status
                  type: object
                type: array
              services:
                items:
                  properties:
                    name:
                      type: string
                    ports:
                      items:
                        format: int32
                        type: integer
                      type: array
                    status:
                      type: string
                  required:
                  - name
                  - ports
                  - status
                  type: object
                type: array
              volumes:
                items:
                  properties:
                    name:
                      type: string
                    status:
                      type: string
                  required:
                  - name
                  - status
                  type: object
                type: array
            required:
            - deployment
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
